name: Periodic Health Check

on:
  push:
    branches:
      - master
jobs:
  periodic_health_check:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          url: https://delicate-morning-8864.fly.dev/ | https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball3400.png  
          max-attempts: 3
          retry-delay: 5s 
 